In [3]:
import pandas as pd
import numpy as np
import os

In [4]:
path = r'C:\Users\artoe\Documents\DataAnalytics\Data Immersion\Exercises\Achievement 4\Instacart Basket Analysis'

In [5]:
ords_prods_merge = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_merge_new.pkl'))

aggregate mean value of order_number for each department_id in the ords_prods_merge dataframe

In [7]:
ords_prods_merge.groupby('department_id').agg({'order_number': ['mean']})

              order_number
                      mean
department_id
1                15.457838
2                17.277920
3                17.170395
4                17.811403
5                15.215751
6                16.439806
7                17.225802
8                15.340650
9                15.895474
10               20.197148
11               16.170638
12               15.887671
13               16.583536
14               16.773669
15               16.165037
16               17.665606
17               15.694469
18               19.310397
19               17.177343
20               16.473447
21               22.902379

The mean values for the entire dataframe do not differ significantly from those for the subset.

Creating a loyalty flag for existing customers

In [10]:
#aggregate data using transform() function
ords_prods_merge['max_order'] = ords_prods_merge.groupby(['user_id'])['order_number'].transform(np.max)

C:\Users\artoe\AppData\Local\Temp\ipykernel_16224\70856369.py:2: FutureWarning: The provided callable <function max at 0x00000184E4096FC0> is currently using SeriesGroupBy.max. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "max" instead.
  ords_prods_merge['max_order'] = ords_prods_merge.groupby(['user_id'])['order_number'].transform(np.max)

In [11]:
#check output of data aggregation
ords_prods_merge.head(15)

,order_id,user_id,eval_set,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,match,price_range_loc,busiest_day,busiest_days,busiest_period_of_day,max_order
0,2539329,1,prior,1,2,8,NaN,196,1,0,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Regularly busy,Average orders,10
1,2539329,1,prior,1,2,8,NaN,14084,2,0,Organic Unsweetened Vanilla Almond Milk,91,16,12.5,both,Mid-range product,Regularly busy,Regularly busy,Average orders,10
2,2539329,1,prior,1,2,8,NaN,12427,3,0,Original Beef Jerky,23,19,4.4,both,Low-range product,Regularly busy,Regularly busy,Average orders,10
3,2539329,1,prior,1,2,8,NaN,26088,4,0,Aged White Cheddar Popcorn,23,19,4.7,both,Low-range product,Regularly busy,Regularly busy,Average orders,10
4,2539329,1,prior,1,2,8,NaN,26405,5,0,XL Pick-A-Size Paper Towel Rolls,54,17,1.0,both,Low-range product,Regularly busy,Regularly busy,Average orders,10
5,2398795,1,prior,2,3,7,15.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Slowest days,Average orders,10
6,2398795,1,prior,2,3,7,15.0,10258,2,0,Pistachios,117,19,3.0,both,Low-range product,Regularly busy,Slowest days,Average orders,10
7,2398795,1,prior,2,3,7,15.0,12427,3,1,Original Beef Jerky,23,19,4.4,both,Low-range product,Regularly busy,Slowest days,Average orders,10
8,2398795,1,prior,2,3,7,15.0,13176,4,0,Bag of Organic Bananas,24,4,10.3,both,Mid-range product,Regularly busy,Slowest days,Average orders,10
9,2398795,1,prior,2,3,7,15.0,26088,5,1,Aged White Cheddar Popcorn,23,19,4.7,both,Low-range product,Regularly busy,Slowest days,Average orders,10
10,2398795,1,prior,2,3,7,15.0,13032,6,0,Cinnamon Toast Crunch,121,14,4.0,both,Low-range product,Regularly busy,Slowest days,Average orders,10
11,473747,1,prior,3,3,12,21.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Slowest days,Most orders,10
12,473747,1,prior,3,3,12,21.0,12427,2,1,Original Beef Jerky,23,19,4.4,both,Low-range product,Regularly busy,Slowest days,Most orders,10
13,473747,1,prior,3,3,12,21.0,10258,3,1,Pistachios,117,19,3.0,both,Low-range product,Regularly busy,Slowest days,Most orders,10
14,473747,1,prior,3,3,12,21.0,25133,4,0,Organic String Cheese,21,16,8.6,both,Mid-range product,Regularly busy,Slowest days,Most orders,10

In [12]:
#create loyalty flag for existing customers using loc()
ords_prods_merge.loc[ords_prods_merge['max_order'] > 40, 'loyalty_flag'] = 'Loyal customer'
ords_prods_merge.loc[(ords_prods_merge['max_order'] <= 40) & (ords_prods_merge['max_order'] > 10), 'loyalty_flag'] = 'Regular customer'
ords_prods_merge.loc[ords_prods_merge['max_order'] <= 10, 'loyalty_flag'] = 'New customer'

In [13]:
#check updated output
ords_prods_merge.head(15)

,order_id,user_id,eval_set,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,...,aisle_id,department_id,prices,match,price_range_loc,busiest_day,busiest_days,busiest_period_of_day,max_order,loyalty_flag
0,2539329,1,prior,1,2,8,NaN,196,1,0,...,77,7,9.0,both,Mid-range product,Regularly busy,Regularly busy,Average orders,10,New customer
1,2539329,1,prior,1,2,8,NaN,14084,2,0,...,91,16,12.5,both,Mid-range product,Regularly busy,Regularly busy,Average orders,10,New customer
2,2539329,1,prior,1,2,8,NaN,12427,3,0,...,23,19,4.4,both,Low-range product,Regularly busy,Regularly busy,Average orders,10,New customer
3,2539329,1,prior,1,2,8,NaN,26088,4,0,...,23,19,4.7,both,Low-range product,Regularly busy,Regularly busy,Average orders,10,New customer
4,2539329,1,prior,1,2,8,NaN,26405,5,0,...,54,17,1.0,both,Low-range product,Regularly busy,Regularly busy,Average orders,10,New customer
5,2398795,1,prior,2,3,7,15.0,196,1,1,...,77,7,9.0,both,Mid-range product,Regularly busy,Slowest days,Average orders,10,New customer
6,2398795,1,prior,2,3,7,15.0,10258,2,0,...,117,19,3.0,both,Low-range product,Regularly busy,Slowest days,Average orders,10,New customer
7,2398795,1,prior,2,3,7,15.0,12427,3,1,...,23,19,4.4,both,Low-range product,Regularly busy,Slowest days,Average orders,10,New customer
8,2398795,1,prior,2,3,7,15.0,13176,4,0,...,24,4,10.3,both,Mid-range product,Regularly busy,Slowest days,Average orders,10,New customer
9,2398795,1,prior,2,3,7,15.0,26088,5,1,...,23,19,4.7,both,Low-range product,Regularly busy,Slowest days,Average orders,10,New customer
10,2398795,1,prior,2,3,7,15.0,13032,6,0,...,121,14,4.0,both,Low-range product,Regularly busy,Slowest days,Average orders,10,New customer
11,473747,1,prior,3,3,12,21.0,196,1,1,...,77,7,9.0,both,Mid-range product,Regularly busy,Slowest days,Most orders,10,New customer
12,473747,1,prior,3,3,12,21.0,12427,2,1,...,23,19,4.4,both,Low-range product,Regularly busy,Slowest days,Most orders,10,New customer
13,473747,1,prior,3,3,12,21.0,10258,3,1,...,117,19,3.0,both,Low-range product,Regularly busy,Slowest days,Most orders,10,New customer
14,473747,1,prior,3,3,12,21.0,25133,4,0,...,21,16,8.6,both,Mid-range product,Regularly busy,Slowest days,Most orders,10,New customer

Determine spending habits of each of the 3 categories of customer by checking the prices of products they typically purchase.

In [15]:
#check product price statistics for each loyalty group in the dataframe by grouping aggregate price data by loyalty group
ords_prods_merge.groupby('loyalty_flag').agg({'prices': ['mean', 'min', 'max']})

                     prices
                       mean  min      max
loyalty_flag
Loyal customer    10.386336  1.0  99999.0
New customer      13.294670  1.0  99999.0
Regular customer  12.495717  1.0  99999.0

In [16]:
#the max price value of 99999.0 appears to be an outlier, possibly an erroneous entry

Create a flag for different levels of spending based on average prices across orders

In [18]:
#aggregate data using transform()
ords_prods_merge['avg_prod_price'] = ords_prods_merge.groupby(['user_id'])['prices'].transform(np.mean)

C:\Users\artoe\AppData\Local\Temp\ipykernel_16224\137747033.py:2: FutureWarning: The provided callable <function mean at 0x00000184E40979C0> is currently using SeriesGroupBy.mean. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "mean" instead.
  ords_prods_merge['avg_prod_price'] = ords_prods_merge.groupby(['user_id'])['prices'].transform(np.mean)

In [19]:
#create spending flag
ords_prods_merge.loc[ords_prods_merge['avg_prod_price'] >= 10, 'spending_flag'] = 'High spender'
ords_prods_merge.loc[ords_prods_merge['avg_prod_price'] < 10, 'spending_flag'] = 'Low spender'

In [20]:
#check results for flag
ords_prods_merge[['user_id', 'spending_flag', 'avg_prod_price']].head(15)

    user_id spending_flag  avg_prod_price
0         1   Low spender        6.367797
1         1   Low spender        6.367797
2         1   Low spender        6.367797
3         1   Low spender        6.367797
4         1   Low spender        6.367797
5         1   Low spender        6.367797
6         1   Low spender        6.367797
7         1   Low spender        6.367797
8         1   Low spender        6.367797
9         1   Low spender        6.367797
10        1   Low spender        6.367797
11        1   Low spender        6.367797
12        1   Low spender        6.367797
13        1   Low spender        6.367797
14        1   Low spender        6.367797

In [21]:
#check spending statistics for each customer category
ords_prods_merge.groupby('spending_flag').agg({'prices': ['min','mean', 'max']})

              prices
                 min        mean      max
spending_flag
High spender     1.0  222.343698  99999.0
Low spender      1.0    7.780685     25.0

Determine frequent vs non-frequent customers

In [23]:
#aggregate data by order frequency using transform()
ords_prods_merge['avg_days_since_prior_order'] = ords_prods_merge.groupby(['user_id'])['days_since_prior_order'].transform(np.median)

C:\Users\artoe\AppData\Local\Temp\ipykernel_16224\1896854809.py:2: FutureWarning: The provided callable <function median at 0x00000184E42A9E40> is currently using SeriesGroupBy.median. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "median" instead.
  ords_prods_merge['avg_days_since_prior_order'] = ords_prods_merge.groupby(['user_id'])['days_since_prior_order'].transform(np.median)

In [24]:
#check for new columns
ords_prods_merge[['user_id', 'days_since_prior_order', 'avg_days_since_prior_order']].head(15)

    user_id  days_since_prior_order  avg_days_since_prior_order
0         1                     NaN                        20.5
1         1                     NaN                        20.5
2         1                     NaN                        20.5
3         1                     NaN                        20.5
4         1                     NaN                        20.5
5         1                    15.0                        20.5
6         1                    15.0                        20.5
7         1                    15.0                        20.5
8         1                    15.0                        20.5
9         1                    15.0                        20.5
10        1                    15.0                        20.5
11        1                    21.0                        20.5
12        1                    21.0                        20.5
13        1                    21.0                        20.5
14        1                    21.0                        20.5

In [25]:
#create flag for average order frequency
ords_prods_merge.loc[ords_prods_merge['avg_days_since_prior_order'] > 20, 'orderfreq_flag'] = 'Non-frequent customer'
ords_prods_merge.loc[(ords_prods_merge['avg_days_since_prior_order'] <= 20) & (ords_prods_merge['avg_days_since_prior_order'] > 10), 'orderfreq_flag'] = 'Regular customer'
ords_prods_merge.loc[ords_prods_merge['avg_days_since_prior_order'] <= 10, 'orderfreq_flag'] = 'Frequent customer'

In [26]:
#check for flag results
ords_prods_merge[['user_id', 'orderfreq_flag', 'avg_days_since_prior_order']].head(15)

    user_id         orderfreq_flag  avg_days_since_prior_order
0         1  Non-frequent customer                        20.5
1         1  Non-frequent customer                        20.5
2         1  Non-frequent customer                        20.5
3         1  Non-frequent customer                        20.5
4         1  Non-frequent customer                        20.5
5         1  Non-frequent customer                        20.5
6         1  Non-frequent customer                        20.5
7         1  Non-frequent customer                        20.5
8         1  Non-frequent customer                        20.5
9         1  Non-frequent customer                        20.5
10        1  Non-frequent customer                        20.5
11        1  Non-frequent customer                        20.5
12        1  Non-frequent customer                        20.5
13        1  Non-frequent customer                        20.5
14        1  Non-frequent customer                        20.5

In [27]:
#check descriptive stats for flagged groups
ords_prods_merge.groupby('orderfreq_flag').agg({'days_since_prior_order': ['min','mean', 'median', 'max']})

                      days_since_prior_order
                                         min       mean median   max
orderfreq_flag
Frequent customer                        0.0   7.877332    6.0  30.0
Non-frequent customer                    0.0  23.313946   29.0  30.0
Regular customer                         0.0  15.556975   14.0  30.0

In [28]:
#get rid of outliers in prices
ords_prods_merge.loc[ords_prods_merge['prices'] >100, 'prices'] = np.nan

In [29]:
ords_prods_merge.isnull().sum()

order_id                            0
user_id                             0
eval_set                            0
order_number                        0
orders_day_of_week                  0
order_hour_of_day                   0
days_since_prior_order        2076096
product_id                          0
add_to_cart_order                   0
reordered                           0
product_name                        0
aisle_id                            0
department_id                       0
prices                           5127
match                               0
price_range_loc                     0
busiest_day                         0
busiest_days                        0
busiest_period_of_day               0
max_order                           0
loyalty_flag                        0
avg_prod_price                      0
spending_flag                       0
avg_days_since_prior_order          5
orderfreq_flag                      5
dtype: int64

In [30]:
ords_prods_merge.shape

(32404859, 25)

In [31]:
ords_prods_merge.dropna(subset=['prices'], inplace=True)

In [32]:
#check shape of dataframe without the null prices
ords_prods_merge.shape

(32399732, 25)

In [33]:
#export updated dataframe to pkl
ords_prods_merge.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'orders_products_merged_flagged.pkl'))

In [34]:
ords_prods_merge['orderfreq_flag'].value_counts()

orderfreq_flag
Frequent customer        21556716
Regular customer          7207207
Non-frequent customer     3635804
Name: count, dtype: int64

In [64]:
ords_prods_merge['loyalty_flag'].value_counts()

loyalty_flag
Regular customer    15874128
Loyal customer      10282763
New customer         6242841
Name: count, dtype: int64

In [66]:
ords_prods_merge['spending_flag'].value_counts()

spending_flag
Low spender     31770614
High spender      629118
Name: count, dtype: int64

In [68]:
ords_prods_merge['busiest_period_of_day'].value_counts()

busiest_period_of_day
Most orders       16126147
Average orders    15677356
Fewest orders       596229
Name: count, dtype: int64

In [70]:
ords_prods_merge['busiest_day'].value_counts()

busiest_day
Regularly busy    22413231
Busiest day        6203329
Least busy         3783172
Name: count, dtype: int64

In [74]:
ords_prods_merge['price_range_loc'].value_counts()

price_range_loc
Mid-range product     21860860
Low-range product     10126321
High-range product      412551
Name: count, dtype: int64